<div class="col-lg-offset-2 col-lg-8">
    <div>
        <h4 class="text-center"><span style="color: #E35050"class="mdi-alert-warning"></span>&nbsp;{{'step1.warning' | translate}}</h4>
    </div>
    <div class="form-group" bs-has verify="verify" ng-init="formData.steps.currentStep = 1">
        <label class="control-label" for="email" >{{'step1.email' | translate}}</label>
        <div>
            <div class="input-group">
                <input required name="email" type="email" ng-class="{'ng-verify' : verify}" class="form-control" id="email" ng-model="formData.speaker.email">
                <span class="input-group-addon">@</span>
            </div>
        </div>
    </div>
    <div class="form-group" bs-has verify="verify">
        <label class="control-label" for="name">{{'step1.name' | translate}}</label>
        <div>
            <input required type="text" name="name" ng-class="{'ng-verify' : verify}" class="form-control" id="name" ng-model="formData.speaker.name">
        </div>
    </div>
    <div class="form-group" bs-has verify="verify">
        <label class="control-label" for="firstname">{{'step1.firstname' | translate}}</label>
        <div>
            <input required type="text" class="form-control" id="firstname" name="firstname" ng-model="formData.speaker.firstname">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">{{'profil.avatar' | translate}}</label>
        <div>{{'profil.hintAvatar' | translate}}</div>
        <div>
            <div class="col-xs-12 col-md-6">
                <span ng-repeat="f in formData.speaker.files">
                    <span>
                        <img alt="avatar" class="avatar" ngf-src="f" ngf-default-src="'/lib/images/placeholder.png'">
                    </span>
                </span>
                <span>
                    <img ng-if="formData.speaker.imageProfilKey && !(formData.speaker.files && formData.speaker.files.length > 0)" class="avatar" ng-src="/api/profil/image/{{formData.speaker.imageProfilKey}}" alt="avatar">
                    <img ng-if="!formData.speaker.socialProfilImageUrl && !formData.speaker.imageProfilKey && !(formData.speaker.files && formData.speaker.files.length > 0)" class="avatar" ng-src="/lib/images/placeholder.png" alt="avatar">
                    <img ng-if="formData.speaker.socialProfilImageUrl && !(formData.speaker.imageProfilKey || (formData.speaker.files && formData.speaker.files.length > 0))" class="avatar" ng-src="{{formData.speaker.socialProfilImageUrl}}" alt="avatar">
                </span>
                <span style="vertical-align: top;" class="mdi-action-delete" ng-if="formData.speaker.socialProfilImageUrl || formData.speaker.imageProfilKey || (formData.speaker.files && formData.speaker.files.length > 0)" ng-click="removeImage()"></span>
            </div>
            <div class="col-xs-12 col-md-6">
                <div ngf-drop ng-model="formData.speaker.files" class="drop-box" 
                ngf-drag-over-class="dragover"
                ngf-multiple="false"
                ngf-allow-dir="false"
                ngf-max-size='5000000'
                ngf-accept="'image/*'">
                    {{'profil.dropImage' | translate}}
                </div>
                <div class="col-xs-12 col-sm-3 col-md-6">
                    <button class="btn btn-block btn-info"
                    ng-model="formData.speaker.files"
                    ngf-multiple="false"
                    ngf-allow-dir="false"
                    ngf-max-size='5000000'
                    ngf-accept="'image/*'"
                    ngf-select
                    >{{'profil.selectImage' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" bs-has verify="verify">
        <label class="control-label" for="phone">{{'step1.phone' | translate}}</label>
        <div>
            <input type="tel" class="form-control" name="phone" id="phone" preferred-countries="fr, de, gb, us" international-phone-number ng-model="formData.speaker.phone">
            <span ng-show="!form.phone.$valid" class="alert">{{'step1.errorPhone' | translate}}</span>
        </div>
    </div>
    <div class="form-group" bs-has verify="verify">
        <label class="control-label" for="company">{{'step1.company' | translate}}</label>
        <div>
            <input type="text" class="form-control" name="company" id="company" ng-model="formData.speaker.company">
        </div>
    </div>
    <div class="form-group" bs-has verify="verify">
        <label class="control-label" for="bio">{{'step1.bio' | translate}}</label>
        <div>{{'step1.hintBio' | translate}}</div>
        <div>
            <textarea required class="form-control" name="bio" id="bio" ng-model="formData.speaker.bio"  rows="3"></textarea>
        </div>
    </div>
    <div class="form-group" bs-has verify="verify">
        <label class="control-label" for="twitter">{{'step1.twitter' | translate}}</label>
        <div>
            <input type="text" class="form-control" name="twitter" id="twitter" ng-model="formData.speaker.twitter">
        </div>
    </div>
    <div class="form-group" bs-has verify="verify">
        <label class="control-label" for="googlePlus">{{'step1.googlePlus' | translate}}</label>
        <div>
            <input type="text" class="form-control" name="googlePlus" id="googlePlus" ng-model="formData.speaker.googlePlus">
        </div>
    </div>
    <div class="form-group" bs-has verify="verify">
        <label class="control-label" for="github">{{'step1.github' | translate}}</label>
        <div>
            <input type="text" class="form-control" name="github" id="github" ng-model="formData.speaker.github">
        </div>
    </div>
    <div class="form-group" bs-has verify="verify">
        <label class="control-label" for="social">{{'step1.social' | translate}}</label>
        <div>{{'step1.hintSocial' | translate}}</div>
        <div>
            <tags-input add-on-enter="true" add-on-space="true" add-on-comma="true" add-on-blur="true" add-on-paste="true" id="social" name="social" ng-model="formData.speaker.socialArray"></tags-input>
        </div>
    </div>
    <p ng-show="sendError" class="col-sm-12 bg-danger alert">{{'step3.sendError' | translate}}</p>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 pull-right" style="padding-bottom: 10px">
        <a ng-click="doVerify()" class="btn btn-block btn-primary">
            {{'steps.next' | translate}} <span class="mdi-navigation-arrow-forward pull-right"></span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6 pull-right">
        <a ng-disabled="formData.sending" ng-click="processSaveForm()" class="btn btn-block btn-info">
            {{'steps.saveAsDraft' | translate}} <span class="hidden-xs mdi-content-save pull-right" ng-class="{'glyphicon-refresh-animate' : formData.sending, 'mdi-content-save' : !formData.sending, 'mdi-navigation-refresh' : formData.sending}"></span>
        </a>
    </div>
</div>