<div class="row">
	<div class="col-md-6">
		<table class="table table-striped table-curved">
			<thead>
				<tr>
					<th>Talks en cours d'édition</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span>Mark</span>
						<span class="action glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
						<span class="pull-right">&nbsp;&nbsp;</span>
						<span class="action glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
					</td>
				</tr>
				<tr>
					<td>
						<span>Mark</span>
						<span class="action glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
						<span class="pull-right">&nbsp;&nbsp;</span>
						<span class="action glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
					</td>
				</tr>
				<tr>
					<td>
						<span>Mark</span>
						<span class="action glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
						<span class="pull-right">&nbsp;&nbsp;</span>
						<span class="action glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table class="table table-striped table-curved">
			<thead>
				<tr>
					<th>Talks envoyés</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span>Mark</span>
						<span class="action glyphicon glyphicon-zoom-in pull-right" aria-hidden="true"></span>
					</td>
				</tr>
				<tr>
					<td>
						<span>Mark</span>
						<span class="action glyphicon glyphicon-zoom-in pull-right" aria-hidden="true"></span>
					</td>
				</tr>
				<tr>
					<td>
						<span>Mark</span>
						<span class="action glyphicon glyphicon-zoom-in pull-right" aria-hidden="true"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>