<div class="row">
	<div class="panel">
		<div class="panel-body">
			<h1>{{::session.name}}</h1>
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="tab" class="nav nav-tabs" role="tablist">
					<li role="presentation" ng-class="{active : tab !== 'contact'}"><button href="#speaker" id="speaker-tab" role="tab" data-toggle="tab" aria-controls="speaker" aria-expanded="true">{{'admin.speaker' | translate}}</button></li>
					<li role="presentation" class=""><button href="#session" role="tab" id="session-tab" data-toggle="tab" aria-controls="session" aria-expanded="false">{{'admin.session' | translate}}</button></li>
					<li role="presentation" ng-class="{active : tab === 'contact'}"><button href="#contact" role="tab" id="contact-tab" data-toggle="tab" aria-controls="contact" aria-expanded="false">{{'admin.contact' | translate}}</button></li>
				</ul>
				<div id="tabContent" class="tab-content tile">
					<br>
					<div role="tabpanel" ng-class="{active : tab !== 'contact', in : tab !== 'contact'}" class="tab-pane fade" id="speaker" aria-labelledby="speaker-tab">
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label class="control-label">{{'profil.avatar' | translate}}</label>
									<div ng-if="session !== null">
										<a ng-if="session.speaker.profilImageUrl !== undefined" target="_blank" ng-href="{{session.speaker.profilImageUrl}}">
											<img class="avatar" ng-src="{{session.speaker.profilImageUrl}}" alt="avatar">
										</a>
									</div>
									<div ng-if="session !== null">
										<img ng-if="session.speaker.profilImageUrl === undefined" class="avatar" src="/lib/images/placeholder.png" alt="avatar">
									</div>
								</div>


								<div class="form-group">
									<label class="control-label" for="email" >{{'step1.email' | translate}}</label>
									<div class="">
										<div class="input-group">
											<input readonly name="email" type="email" class="form-control" id="email" ng-model="session.speaker.email">
											<span class="input-group-addon">@</span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="name">{{'step1.lastname' | translate}}</label>
									<div class="">
										<input readonly type="text" name="name" class="form-control" id="name" ng-model="session.speaker.lastname">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="firstname">{{'step1.firstname' | translate}}</label>
									<div class="">
										<input readonly type="text" class="form-control" id="firstname" name="firstname" ng-model="session.speaker.firstname">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="phone">{{'step1.phone' | translate}}</label>
									<div class="">
										<input readonly type="text" class="form-control" id="phone" name="phone" ng-model="session.speaker.phone">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="company">{{'step1.company' | translate}}</label>
									<div class="">
										<input readonly type="text" class="form-control" name="company" id="company" ng-model="session.speaker.company">
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label class="control-label" for="bio">{{'step1.bio' | translate}}</label>
									<div class="">
										<div marked="session.speaker.bio">
										</div>
									</div>
								</div>
								<div class="form-group" bs-has verify="verify">
									<label class="control-label" >{{'step1.twitter' | translate}}</label>&nbsp;<span ng-bind-html="session.speaker.twitter"></span>
								</div>
								<div class="form-group" bs-has verify="verify">
									<label class="control-label" >{{'step1.googleplus' | translate}}</label>&nbsp;<span ng-bind-html="session.speaker.googleplus"></span>
								</div>
								<div class="form-group" bs-has verify="verify">
									<label class="control-label" >{{'step1.github' | translate}}</label>&nbsp;<span ng-bind-html="session.speaker.github"></span>
								</div>
								<div class="form-group">
									<label class="control-label" >{{'step1.social' | translate}}</label>
									<ul ng-repeat="link in session.socialLinks">
										<li ng-bind-html="link"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="session" aria-labelledby="session-tab">
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label class="control-label" for="type">{{'step2.type' | translate}}</label>
									<div class="">
										<input readonly type="text" name="type" class="form-control"
											   ng-value="talkformats[session.format -1].libelle + ' ('+talkformats[session.format -1].dureeMinutes+' mn)'" id="type">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="sessionName">{{'step2.name' | translate}}</label>
									<div class="">
										<input readonly type="text" name="sessionName" class="form-control" ng-model="session.name" id="sessionName">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" >{{'step2.description' | translate}}</label>
									<div class="">
										<div marked="session.description">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" >{{'step2.references' | translate}}</label>
									<div class="">
										<div marked="session.references">
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<div class="form-group">
									<label class="control-label" for="difficulty">{{'step2.difficulty' | translate}}</label>
									<div class="">
										<input readonly type="text" name="difficulty" class="form-control" ng-value="'step2.' + session.keyDifficulty | translate" id="difficulty">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label" for="track">{{'step2.track' | translate}}</label>
									<div class="">
										<input readonly type="text" name="track" class="form-control" ng-model="session.trackLabel" id="track">
									</div>
								</div>
								<!--<div class="form-group">
									<label class="control-label" >{{'step2.cospeaker' | translate}}</label>
									<div class="">
										<div marked="session.coSpeaker">
										</div>
									</div>
								</div>-->

								<div class="form-group"

									<label class="control-label">{{'step2.cospeaker' | translate}}</label>
									<div>
										<ul>
											<li ng-repeat="cospeaker in session.cospeakers">
											<span>{{cospeaker.firstname | capitalize}} {{cospeaker.lastname | uppercase}} ({{cospeaker.email}})</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" ng-class="{active : tab === 'contact', in : tab === 'contact'}" class="tab-pane fade" id="contact" aria-labelledby="contact-tab">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 noPadding">
								<div class="col-xs-12">
									<h4 class="text-center">{{'contact.hint' | translate}}</h4 class="text-center">
									<hr>
								</div>
								<div class="col-xs-12 noPadding">
									<div class="col-md-3">
										<strong>{{'contact.message' | translate}}&nbsp;:</strong>
									</div>
									<div class="col-md-9" bs-has>
										<form name="contactForm">
											<div md-preview="contactMsg"></div>
											<textarea required row="3" class="form-control" ng-init="contactMsg = ''" ng-model="contactMsg">
											</textarea>
											<br>
											<!-- change from one captcha to the other on error -->
									        <div ng-if="captchaShow"
									          vc-recaptcha
									          theme="light"
									          key="recaptchaId"
									          on-success="setResponse(response)"
									        ></div>
									        <div ng-if="!captchaShow"
									          vc-recaptcha
									          theme="light"
									          key="recaptchaId"
									          on-success="setResponse(response)"
									        ></div>
											<button type="button" ng-click="postContact()" ng-disabled="contactForm.$invalid || contactButtonDisabled || (contactMsg == '' || contactMsg == null)" class="btn btn-success pull-right"><span class="mdi-navigation-refresh glyphicon-refresh-animate pull-right" ng-show="contactButtonDisabled"></span>{{'contact.validate' | translate}}&nbsp;
											</button>
										</form>
									</div>
								</div>
								<div ng-repeat="contact in contacts" class="col-xs-12 noPadding">
									<div class="col-xs-4 col-sm-2 col-md-2">
										<img class="img-responsive" ng-src="{{contact.user.socialProfilImageUrl}}" >
									</div>
									<div class="col-xs-8 col-sm-10 col-md-10">
										<div class="col-xs-12">
											<span tooltip="{{'contact.edit' | translate}}" ng-click="editContact(contact)" ng-show="contact.admin === false" class="mdi-content-create pull-right"></span>
											<strong>{{::contact.user.lastname}} {{::contact.user.firstname}} </strong><span class="weak">{{contact.added | relativeDate}}</span>
										</div>
										<div marked="::contact.comment">
										</div>
									</div>
									<div class="col-xs-12"><hr></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
