<div class="row">
	<div class="panel">
		<div class="panel-body">
			<div class="row">
				<div class="pull-right">
					<span class="filterbuttons btn-group">
						<button ng-click="tableParams.sorting({});tableParamsConfrence.sorting({});tableParamsCodelab.sorting({})" class="btn btn-default">{{'admin.clearSorting' | translate}}</button>
						<button ng-click="tableParams.filter({});tableParamsConference.filter({});tableParamsCodelab.filter({});notReviewed=false;" class="btn btn-default">{{'admin.clearFilter' | translate}}</button>
					</span>
					<span class="checkbox" style="margin-top:0;text-align:right">
						<label>
							<input ng-change="handleNotReviewed()" ng-model="notReviewed" id="notReviewed" name="notReviewed" type="checkbox">
							&nbsp;{{'admin.notReviewedYet' | translate}}
						</label>
					</span>
				</div>
				<div class="pull-left">
					<span class="filterbuttons btn-group">
						<button class="btn btn-default">
						<span tooltip="{{'admin.speaker' | translate}}" class="mdi-action-perm-identity">&nbsp;{{stats.meter.speakers}}</span>
						</button>
					</span>
					<span class="filterbuttons btn-group">
						<button class="btn btn-default">
						<span tooltip="{{'admin.validated' | translate}}" class="mdi-communication-message">&nbsp;{{stats.meter.talks}}</span>
						</button>
						<button class="btn btn-default">
						<span tooltip="{{'admin.draft' | translate}}" class="mdi-editor-insert-drive-file">&nbsp;{{stats.meter.drafts}}</span>
						</button>
					</span>
				</div>
			</div>
			<div class="col-xs-12" role="tabpanel" style="display: inline-block">
				<ul id="tab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><button ng-click="setActiveTab('')" href="#all" id="all-tab" role="tab" data-toggle="tab" aria-controls="all" aria-expanded="true">{{'admin.allType' | translate}}</button></li>
					<li role="presentation" class=""><button ng-click="setActiveTab('conference')" href="#conference" role="tab" id="conference-tab" data-toggle="tab" aria-controls="conference" aria-expanded="false">{{'step2.types.conference' | translate}}</button></li>
					<li role="presentation" class=""><button ng-click="setActiveTab('codelab')" href="#codelab" role="tab" id="codelab-tab" data-toggle="tab" aria-controls="codelab" aria-expanded="false">{{'step2.types.codelab' | translate}}</button></li>
				</ul>
				<div id="tabContent" class="tab-content tile">
					<div role="tabpanel" class="tab-pane fade active in" id="all" aria-labelledby="all-tab">
						<div class="row">
							<div class="col-xs-12">
								<br>
								<div ng-if="!screenSize.is('xs, sm')">
									<table ng-table="tableParams" show-filter="true" class="table table-striped table-hover table-bordered">
										<tr ng-class="{success : session.reviewed}" ng-repeat="session in $data" ui-sref="admin.session({ id: session.added })">
											<td filter="{'fullname': 'text'}" data-title="'admin.speaker' | translate">{{::session.firstname}} {{::session.name}}</td>
											<td filter="{'sessionName': 'text'}" data-title="'admin.title' | translate">{{::session.sessionName}}</td>
											<td filter="{'difficulty': 'select'}" filter-data="difficulties()" sortable="'difficulty'" data-title="'admin.difficulty' | translate">{{ 'step2.' + session.keyDifficulty | translate}}</td>
											<td filter="{'track': 'select'}" filter-data="tracks()" data-title="'admin.track' | translate">{{ 'step2.tracks.' + session.track | translate}}</td>
											<td filter="{'description': 'text'}" data-title="'admin.description' | translate">{{::session.description | truncate}}</td>
											<td sortable="'mean'" data-title="'admin.mean' | translate">{{::session.mean | number:2}}</td>
											<td sortable="'added'" data-title="'admin.date' | translate">{{::session.added | date}}</td>
											<td sortable="'lastModification'" data-title="'admin.lastModification' | translate">
												<span ng-if="session.lastModification !== 0">{{::session.lastModification | date}}</span>
												<span ng-if="session.lastModification === 0">{{'admin.never' | translate}}</span>
											</td>
											<td data-title="'admin.newMessages' | translate">{{::session.notViewedCount}}</td>
											<td sortable="'voteCount'" data-title="'admin.votes' | translate">
												<img tooltip="{{user.name}}" ng-repeat="user in session.voteUsersEmail" class="pull-left mini-avatar" gravatar-src="user.email" gravatar-size="20">
											</td>
										</tr>
									</table>
								</div>
								<div ng-if="screenSize.is('xs, sm')" class="table-responsive">
									<table ng-table="tableParams" show-filter="true" class="table table-striped table-hover table-bordered">
										<tr ng-class="{success : session.reviewed}" ng-repeat="session in $data" ui-sref="admin.session({ id: session.added })">
											<td filter="{'fullname': 'text'}" data-title="'admin.speaker' | translate">{{::session.name}} {{::session.firstname}}</td>
											<td filter="{'sessionName': 'text'}" data-title="'admin.title' | translate">{{::session.sessionName}}</td>
											<td filter="{'difficulty': 'select'}" filter-data="difficulties()" sortable="'difficulty'" data-title="'admin.difficulty' | translate">{{ 'step2.' + session.keyDifficulty | translate}}</td>
											<td data-title="'admin.newMessages' | translate">{{::session.notViewedCount}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="conference" aria-labelledby="conference-tab">
						<div class="row">
							<div class="col-xs-12">
								<br>
								<div ng-if="!screenSize.is('xs, sm')">
									<table ng-table="tableParamsConference" show-filter="true" class="table table-striped table-hover table-bordered">
										<tr ng-class="{success : session.reviewed}" ng-repeat="session in $data" ui-sref="admin.session({ id: session.added })">
											<td filter="{'fullname': 'text'}" data-title="'admin.speaker' | translate">{{::session.name}} {{::session.firstname}}</td>
											<td filter="{'sessionName': 'text'}" data-title="'admin.title' | translate">{{::session.sessionName}}</td>
											<td filter="{'difficulty': 'select'}" filter-data="difficulties()" sortable="'difficulty'" data-title="'admin.difficulty' | translate">{{ 'step2.' + session.keyDifficulty | translate}}</td>
											<td filter="{'track': 'select'}" filter-data="tracks()" data-title="'admin.track' | translate">{{ 'step2.tracks.' + session.track | translate}}</td>
											<td filter="{'description': 'text'}" data-title="'admin.description' | translate">{{::session.description | truncate}}</td>
											<td sortable="'mean'" data-title="'admin.mean' | translate">{{::session.mean | number:2}}</td>
											<td sortable="'added'" data-title="'admin.date' | translate">{{::session.added | date}}</td>
											<td sortable="'lastModification'" data-title="'admin.lastModification' | translate">
												<span ng-if="session.lastModification !== 0">{{::session.lastModification | date}}</span>
												<span ng-if="session.lastModification === 0">{{'admin.never' | translate}}</span>
											</td>
											<td data-title="'admin.newMessages' | translate">{{::session.notViewedCount}}</td>
											<td sortable="'voteCount'" data-title="'admin.votes' | translate">
												<img tooltip="{{user.name}}" ng-repeat="user in session.voteUsersEmail" class="pull-left mini-avatar" gravatar-src="user.email" gravatar-size="20">
											</td>
										</tr>
									</table>
								</div>
								<div ng-if="screenSize.is('xs, sm')" class="table-responsive">
									<table ng-table="tableParamsConference" show-filter="true" class="table table-striped table-hover table-bordered">
										<tr ng-class="{success : session.reviewed}" ng-repeat="session in $data" ui-sref="admin.session({ id: session.added })">
											<td filter="{'fullname': 'text'}" data-title="'admin.speaker' | translate">{{::session.name}} {{::session.firstname}}</td>
											<td filter="{'sessionName': 'text'}" data-title="'admin.title' | translate">{{::session.sessionName}}</td>
											<td filter="{'difficulty': 'select'}" filter-data="difficulties()" sortable="'difficulty'" data-title="'admin.difficulty' | translate">{{ 'step2.' + session.keyDifficulty | translate}}</td>
											<td data-title="'admin.newMessages' | translate">{{::session.notViewedCount}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="codelab" aria-labelledby="codelab-tab">
						<div class="row">
							<div class="col-xs-12">
								<br>
								<div ng-if="!screenSize.is('xs, sm')">
									<table ng-table="tableParamsCodelab" show-filter="true" class="table table-striped table-hover table-bordered">
										<tr ng-class="{success : session.reviewed}" ng-repeat="session in $data" ui-sref="admin.session({ id: session.added })">
											<td filter="{'fullname': 'text'}" data-title="'admin.speaker' | translate">{{::session.name}} {{::session.firstname}}</td>
											<td filter="{'sessionName': 'text'}" data-title="'admin.title' | translate">{{::session.sessionName}}</td>
											<td filter="{'difficulty': 'select'}" filter-data="difficulties()" sortable="'difficulty'" data-title="'admin.difficulty' | translate">{{ 'step2.' + session.keyDifficulty | translate}}</td>
											<td filter="{'track': 'select'}" filter-data="tracks()" data-title="'admin.track' | translate">{{ 'step2.tracks.' + session.track | translate}}</td>
											<td filter="{'description': 'text'}" data-title="'admin.description' | translate">{{::session.description | truncate}}</td>
											<td sortable="'mean'" data-title="'admin.mean' | translate">{{::session.mean | number:2}}</td>
											<td sortable="'added'" data-title="'admin.date' | translate">{{::session.added | date}}</td>
											<td sortable="'lastModification'" data-title="'admin.lastModification' | translate">
												<span ng-if="session.lastModification !== 0">{{::session.lastModification | date}}</span>
												<span ng-if="session.lastModification === 0">{{'admin.never' | translate}}</span>
											</td>
											<td data-title="'admin.newMessages' | translate">{{::session.notViewedCount}}</td>
											<td sortable="'voteCount'" data-title="'admin.votes' | translate">
												<img tooltip="{{user.name}}" ng-repeat="user in session.voteUsersEmail" class="pull-left mini-avatar" gravatar-src="user.email" gravatar-size="20">
											</td>
										</tr>
									</table>
								</div>
								<div ng-if="screenSize.is('xs, sm')" class="table-responsive">
									<table ng-table="tableParamsCodelab" show-filter="true" class="table table-striped table-hover table-bordered">
										<tr ng-class="{success : session.reviewed}" ng-repeat="session in $data" ui-sref="admin.session({ id: session.added })">
											<td filter="{'fullname': 'text'}" data-title="'admin.speaker' | translate">{{::session.name}} {{::session.firstname}}</td>
											<td filter="{'sessionName': 'text'}" data-title="'admin.title' | translate">{{::session.sessionName}}</td>
											<td filter="{'difficulty': 'select'}" filter-data="difficulties()" sortable="'difficulty'" data-title="'admin.difficulty' | translate">{{ 'step2.' + session.keyDifficulty | translate}}</td>
											<td data-title="'admin.newMessages' | translate">{{::session.notViewedCount}}</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>