<div class="filterbuttons btn-group pull-right">
	<button ng-click="tableParams.sorting({})" class="btn btn-default">{{'admin.clearSorting' | translate}}</button>
	<button ng-click="tableParams.filter({})" class="btn btn-default">{{'admin.clearFilter' | translate}}</button>
</div>
<table ng-table="tableParams" show-filter="true" class="table table-striped table-hover table-curved">
	<tr ng-repeat="session in $data" ui-sref="admin.session({ id: session.added })">
		<td filter="{'fullname': 'text'}" data-title="'admin.speaker' | translate">{{::session.name}} {{::session.firstname}}</td>
		<td filter="{'sessionName': 'text'}" data-title="'admin.title' | translate">{{::session.sessionName}}</td>
		<td filter="{'difficulty': 'select'}" filter-data="difficulties()" sortable="'difficulty'" data-title="'admin.difficulty' | translate">{{::session.realDifficulty}}</td>
		<td filter="{'track': 'select'}" filter-data="tracks()" data-title="'admin.track' | translate">{{::session.track}}</td>
		<td filter="{'description': 'text'}" data-title="'admin.description' | translate">{{::session.description | truncate}}</td>
		<td sortable="'mean'" data-title="'admin.mean' | translate">{{::session.mean}}</td>
		<td sortable="'added'" data-title="'admin.date' | translate">{{::session.added | date}}</td>
	</tr>
</table>