<div class="btn-group pull-right">
	<button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>
	<button ng-click="tableParams.filter({})" class="btn btn-default">Clear filters</button>
</div>
<table ng-table="tableParams" show-filter="true" class="table table-striped table-hover">
	<tr ng-repeat="session in $data" ui-sref="admin.session({ id: session.added })">
		<td filter="{'fullname': 'text'}" data-title="'Speaker'">{{session.name}} {{session.firstname}}</td>
		<td filter="{'sessionName': 'text'}" data-title="'Titre'">{{session.sessionName}}</td>
		<td filter="{'difficulty': 'select'}" filter-data="difficulties()" sortable="'difficulty'" data-title="'Difficulté'">{{session.realDifficulty}}</td>
		<td filter="{'track': 'select'}" filter-data="tracks()" data-title="'Track'">{{session.track}}</td>
		<td filter="{'description': 'text'}" data-title="'Description'">{{session.description}}</td>
		<td sortable="'mean'" data-title="'Moyenne'">{{session.mean}}</td>
		<td sortable="'added'" data-title="'Date'">{{session.added | date}}</td>
	</tr>
</table>