<div ng-repeat="session in ::sessions" class="export-{{session.track}} col-xs-6">
<div class="col-xs-12">

	<span class="col-xs-3">
		<span class="glyphicon glyphicon-education" ng-if="::(session.type === 'codelab')"></span>
		<span class="glyphicon glyphicon-bullhorn" ng-if="::(session.type === 'conference')"></span>
		[{{::session.track}}]
	</span>
	<span class="col-xs-5">
		{{::session.sessionName}}
	</span>
	<span class="col-xs-4">
		 by {{::session.firstname}} {{::session.lastname}}
	 	<br>
	 	{{::session.company}}
	</span>
</div>
<div class="col-xs-10">
	<em>{{::session.description.substring(0, 350)}}</em>
</div>
<div class="col-xs-2">
	<span class="pull-right jumbotron">
		<strong>{{::session.mean | number:1}}</strong>
	</span>
</div>
<div class="col-xs-2 pull-right" style="padding: 0px;">
	<span class="glyphicon glyphicon-user" style="width: 30px;"><span class="glyphicon glyphicon-user" ng-if="::session.coSpeaker"></span>
	</span>
	<span class="glyphicon glyphicon-eur" ng-if="::session.financial"></span>
	<span class="glyphicon glyphicon-home" ng-if="::session.hotel"></span>
	<span class="glyphicon glyphicon-plane" ng-if="::session.travel"></span>
	<br>
	<span style="width: 90px;">
		<span class="glyphicon glyphicon-plus" ng-if="::(session.difficulty < 2)"></span>
		<span class="glyphicon glyphicon-plus" ng-if="::(session.difficulty < 3)"></span>
		<span class="glyphicon glyphicon-plus" ng-if="::(session.difficulty < 4)"></span>
	</span>
	<span ng-repeat="vote in ::session.voteUsersEmail">
		<span class="glyphicon glyphicon-heart-empty" ng-if="::vote.love">
		<span class="glyphicon glyphicon-alert" ng-if="::vote.hate">
	</span>
</div>
</div><!-- fin ng-repeat-->
