<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <section class="billboard">
        <div class="container">
            <h2>CFP.io</h2>
        </div>
    </section>
    <div class="jumbotron">
        <div class="container">
            <h1>Submit a talk to the CfP!</h1>
            <p><a class="btn btn-primary btn-lg" th:href="@{/submit}" role="button">Submit</a></p>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">CFP.io</h3>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Hello World</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>
