<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <img src="http://devfest.gdgnantes.com/assets/images/chevron_small.png" alt="" width="30" width="30">
  <h2>Bonjour *|NAME|*,</h2>
  <p>
    Votre talk *|TALK|*  est en liste d'attente pour le programme du *|EVENT|*, afin de    
    gérer les éventuels désistements. Nous sommes en effet dans l'attente des réponses des  
    premières sélections. 
  </p>
  <p>Cependant pouvez-vous nous confirmer votre éventuelle venue, en tant que speaker, le  
    *|DATE EVENT|* dans le cas où votre talk serait confirmé ?
  </p>
  <p>Merci de nous répondre le plus rapidement possible.</p> 
</body>
</html>