<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <img src="http://devfest.gdgnantes.com/assets/images/chevron_small.png" alt="" width="30" width="30">
  <h2>Félicitations *|NAME|* !</h2>
  <p>Votre talk *|TALK|*  a été retenu pour le *|EVENT|* !</p>
  <p>Nous aurions besoin d'avoir un retour de votre part sur les aspects suivants :</p>
  <ul>
    <li>Pouvez-vous confirmer votre venue, en tant que speaker, le *|DATE EVENT|* au *|EVENT|* ?</li>
    <li>Avez-vous des questions particulières sur l'organisation et votre venue ?</li>
  </ul>
  <p>Merci de nous répondre le plus rapidement possible. Nous annonçons le programme le .</p>
</body>
</html>