<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">{{'admin.toggle' | translate}}</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand">
				<a ui-sref="app.dashboard">
					<img src="/images/devfest.png" alt="" style="width: 20px;margin-top: -6px;">
					<span>Call for paper - {{::title}}</span>
				</a>
			</div>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-show="isAuthenticated === true"><a ui-sref="app.dashboard">{{'header.dashboard' | translate}}</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-show="isAuthenticated === true"><a ui-sref="app.logout">{{'header.logout' | translate}}</a></li>
				<li ng-show="isAuthenticated === false"><a ui-sref="app.login">{{'header.login' | translate}}</a></li>
				<li style="margin-top:4px">
					<lang-picker class="lang-picker" supported-languages="['fr-FR', 'en-US']" on-language-change="changeLanguage(lang)">{{ ('lang.'+language) | translate}}</lang-picker>
				</li>
			</ul>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="col-xs-12" ui-view></div>