<div class="row">
  <div class="center-form panel col-md-6 col-md-offset-3">
    <div class="panel-body">
      <h2 class="text-center">{{'signup.signup' | translate}}</h2>
      <form method="post" ng-submit="signup()" name="signupForm">
        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
          <input class="form-control input-lg login-input" type="email" id="email" name="email" ng-model="email" placeholder="{{'signup.email' | translate}}" required
          ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
          <span class="ion-at form-control-feedback"></span>
          <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
            <div ng-show="signupForm.email.$error.required" ng-message="required">{{'signup.emailRequired' | translate}}</div>
            <div ng-show="signupForm.email.$error.pattern" ng-message="pattern">{{'signup.emailPattern' | translate}}</div>
          </div>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
          <input ng-minlength="6" class="form-control input-lg login-input" type="password" name="password" ng-model="password" placeholder="{{'signup.password' | translate}}" required>
          <span class="ion-key form-control-feedback"></span>
          <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
            <div ng-show="signupForm.password.$error.required" ng-message="required">{{'signup.passwordRequired' | translate}}</div>
            <div ng-show="signupForm.password.$error.minlength" ng-message="minlength">{{'signup.passwordMinLength' | translate}}</div>
          </div>
        </div>
        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
          <input ng-minlength="6" class="form-control input-lg login-input" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="{{'signup.confirmPassword' | translate}}" required>
          <span class="ion-key form-control-feedback"></span>
          <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
            <div ng-show="confirmPassword !== password" ng-message="compareTo">{{'signup.passwordMatch' | translate}}</div>
          </div>
        </div>
        <!-- <p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></small></p> -->
        <div
          vc-recaptcha
          theme="light"
          key="recaptchaId"
          on-success="setResponse(response)"
        ></div>
        <br/>
        <div ng-show="alreadyExists" class="alert alert-danger">{{'signup.alreadyExists' | translate}}</div>
        <button type="submit" ng-disabled="signupForm.$invalid || (confirmPassword !== password) || loading"  class="btn btn-lg btn-block btn-primary">{{'signup.signup' | translate}} <span class="mdi-navigation-refresh glyphicon-refresh-animate pull-right" ng-show="loading"></span>
        </button>
        <br/>
        <p class="text-center text-muted">{{'signup.yesAccount' | translate}}<a href="/#/login"> {{'signup.loginNow' | translate}}</a></p>
      </form>
    </div>
  </div>
</div>