<div class="container">
  <div class="row">
    <div class="center-form panel col-md-6 col-md-offset-3">
      <div class="panel-body">
        <h2 class="text-center">{{'verify.title' | translate}}</h2>
        <div ng-show="verified" class="alert alert-info">{{'verify.verified' | translate}}</div>
        <div ng-show="alreadyVerified" class="alert alert-warning">{{'verify.alreadyVerified' | translate}}</div>
        <div ng-show="notVerified" class="alert alert-danger">{{'verify.notVerified' | translate}}</div>
      </div>
    </div>
  </div>
</div>