html, body{
  background-color: rgba(237, 237, 237, 1);
  margin: 0;
  padding: 0;
}

.navbar a
{
  color: white;
}

.modal-backdrop {
  background-color: rgba(255, 255, 255, 0);
}

#form{
  position: relative;
  padding: 16px;
  margin-top: 20px;
}
.row {
  margin-right: 0; 
  margin-left: 0; 
}

.iti-flag {background-image: url("../images/flags.png");}

.alert{
  text-align: center;
  color: rgb(69, 0, 0);
  padding: 20px;
  border-radius: 5px
}

.bg-danger {
  background-color: #f2dede !important;
}

.alert.bg-success{
  text-align: center;
  color: rgb(0, 69, 0);
  padding: 20px;
  border-radius: 5px
}

.bg-success {
  background-color: #DEF2DF !important;
}

.ng-hide-add-active {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.ng-hide-remove-active {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.ng-hide {
  opacity: 0;
}

.btn .glyphicon{
  line-height: 20px;
}

.btn [class^='mdi'] {
  margin-top: -2px;
}

.white{
  color : black;
}

/* Loader */

.glyphicon-refresh-animate {
  animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.glyphicon.loading
{
  font-size: 2.3em;
}


/*session*/
input[readonly], textarea[readonly]
{
  background-color: #fff !important;
}

button:focus {outline:0;}
.nav-tabs > li > button {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav > li > button {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-tabs > li.active > button, .nav-tabs > li.active > button:hover, .nav-tabs > li.active > button:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

strong hr
{
  border-top: 2px solid #838383;
}

textarea{
  max-width: 100%;
  display: inline-block !important;
}

.g-recaptcha-response {
  display: none !important;
}

/*Language modal*/
.modal-lang-picker > div.form-group
{
  margin-right: 28px;
}

.lang-picker
{
  margin: 0;
}

/*ui notification*/

.ui-notification {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.ui-notification.warning {
  color: #fcf8e3;
  background: #fcf8e3;
}
.ui-notification.error {
  color: #a94442;
  background: #f2dede;
}
.ui-notification.success {
  color: #3c763d;
  background: #dff0d8;
}
.ui-notification.info {
  color: #31708f;
  background: #d9edf7;
}

/* common */

.dot{
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.weak{
  color: rgb(204, 204, 204);
  font-size: 0.9em;
}

.noMargin{
  margin: 0;
}
.noPadding{
  padding: 0;
}

.tile{
  border :solid 1px rgb(221, 221, 221);
  border-top: none;
  padding-bottom: 40px;
}

.filterbuttons
{
  margin-bottom: 25px;
}

.left-separator
{
  border-right :solid 1px rgb(221, 221, 221);
}
.right-separator
{
  border-left :solid 1px rgb(221, 221, 221);
  margin-left: -1px;
}


/*Table*/
.table > thead > tr > th.filter {
  border-top: none;
}

.table-responsive
{
  border:none;
}

.table-responsive > .table {
  margin-bottom: 20px !important;
}

/**
 * Login
 */

 .login-input{
  height: 45px !important;
}

/*********************
* Social Buttons
*********************/
.has-feedback .form-control {
  padding-left: 42.5px;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.btn-google-plus {
  color: #fff !important;
  background-color: #dd4b39 !important;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  background-color: #cb3927 !important;
}

.btn-github {
  color: #fff !important;
  background-color: #444 !important;
  border: 1px solid #3b3b3b;
}

.btn-github:hover,
.btn-github:focus {
  background-color: #303030 !important;
}

/*********************
* Dashboard
*********************/
.glyphicon.action
{
  font-size: 1.3em;
}

.glyphicon.action:hover
{
  opacity: 0.5
}

/**
 * Tags Input
 */
 tags-input .tags {
  border: none !important;
  box-shadow: none !important;
}
tags-input .tags.focused {
  border: none !important;
  box-shadow: none !important;
}

/**
 * Progress bar
 */

 .progress
 {
  background: #F5F5F5;
  height: 20px;
}

/**
 * Tabs
 */
 .nav-tabs {
  background: none;
}

/**
 * Loading bar
 */

 #loading-bar .bar {
  background: white;
}

/* Fancy blur effect */
#loading-bar .peg {
  -moz-box-shadow: white 1px 0 6px 1px;
  -ms-box-shadow: white 1px 0 6px 1px;
  -webkit-box-shadow: white 1px 0 6px 1px;
  box-shadow: white 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  white;
  border-left-color: white;
}

/**
 * Sidebar
 */
 html,
 body,
 #views,
 .st-container,
 .st-pusher,
 .st-content {
  height: 100%;
  overflow-y: auto; 
}

.st-content,
.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  perspective: 1000px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu {
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 256px;
  height: 100%;
  background: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 767px)
{
  .st-menu {
    display: none;
  }

  .st-pusher::after {
    display: none
  }
}

.st-menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-effect-1.st-menu { 
  visibility: visible;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-1.st-menu::after {
  display: none;
}

#menu li {
  list-style-type: none;
  padding: 12px 0 12px 25px;
}
#menu li.active {
  background: #F3F3F3;
}

#menu ul {
  padding: 0;
  margin: 0;
}

.table-framed{
  border: 1px solid #ddd;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  height: 100px;
  text-align: center;
  padding-top: 25px;
  margin: 10px;
}
.dragover {
  border: 5px dashed blue;
}

.avatar {
  max-width: 180px;
  max-height: 180px;
  padding: 7px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.33);
}

.arrow {
  font-size: 3em;
}

.mini-avatar {
  margin-left:4px;
  margin-bottom:4px
}

.pointer{
  cursor: pointer;
}

.toggle {
  float: right;
}